<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">userType</h4>
                        <p class="card-category"> List of userTypes.</p>

                        <button class="btn btn-info pull-right mrgtop" data-toggle="modal" data-target="#gameAdd">
                            Add
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th> # </th>
                                    <th> Name </th>
                                    <th> Status </th>
                                    <th> Action </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let game of userTypeList; let i=index;">
                                        <td> {{game.id}} </td>
                                        <td> {{game.userType}} </td>
                                        <td> {{game.status}} </td>
                                        <td>
                                            <button class="bnt btn-danger mrg5">Delete</button>
                                            <button class="bnt btn-info">Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- userType add Popup Modal -->
<div class="modal modal-angular fade" id="gameAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <!-- <h4 class="margin-top">
                Add userType
            </h4> -->
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">UserType Add</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <!-- userType name -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <label>userType Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="User Type" type="text"
                                                    [(ngModdel)]="userTypeObj.userType"
                                                    [formControl]="utForm.controls['userType']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="utForm.controls['userType'].hasError('required') && utForm.controls['userType'].touched">
                                                    userType is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!utForm.controls['userType'].hasError('required') && !utForm.controls['userType'].valid && utForm.controls['userType'].touched">
                                                    Please Enter valid userType.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- gstin no -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Status : </label>
                                            <input placeholder="Status" type="checkbox"
                                                [(ngModdel)]="userTypeObj.status">
                                        </div>
                                    </div>
                                    <!-- save button - [disabled]="!loginForm.valid" -->
                                    <button mat-raised-button type="submit" class="btn btn-success"
                                        (click)="onSubmit()">Save</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
