<div class="container">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Login</h4>
            <p class="card-category">Login page</p>
        </div>
        <div class="card-body">
            <!-- <div class="imgcontainer">
                <img src="assets/img/angular.png" alt="Avatar" class="avatar">
            </div> -->
            <div class="row">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
            </div>
        </div>
    </div>
</div>
