<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Company Details</h4>
                        <p class="card-category">Update Company details</p>
                    </div>
                    <div class="card-body">
                        <!-- form -->
                        <div>
                            <!-- Company name -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <label>Company Name</label> -->
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Company Name" type="text"
                                            [(ngModdel)]="companyObj.coAddress"
                                            [formControl]="companyForm.controls['coName']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="companyForm.controls['coName'].hasError('required') && companyForm.controls['coName'].touched">
                                            Company Name is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!companyForm.controls['coName'].hasError('required') && !companyForm.controls['coName'].valid && companyForm.controls['coName'].touched">
                                            Please Enter valid Company Name.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- Company Logo and img preview -->
                            <div class="row">
                                <div class="col-md-6">
                                    <button mat-raised-button type="button" class="btn btn-info"
                                        (click)="imgFileInput.click()">Add a photo</button>
                                    <input hidden type="file" #imgFileInput (change)="previewImage($event)" />
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-profile">
                                        <div class="card-avatar">
                                            <a href="javascript:void(0)">
                                                <img class="img" [src]="previewUrl"
                                                    onerror="this.src='assets/img/noimg.png';" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- company address -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <label>Address</label> -->
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Company Address"
                                            [(ngModdel)]="companyObj.coAddress"
                                            [formControl]="companyForm.controls['coAddress']"></textarea>
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="companyForm.controls['coAddress'].hasError('required') && companyForm.controls['coAddress'].touched">
                                            Company Address is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!companyForm.controls['coAddress'].hasError('required') && !companyForm.controls['coAddress'].valid && companyForm.controls['coAddress'].touched">
                                            Please Enter valid Company Address.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- email id -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="email"
                                            [(ngModdel)]="companyObj.coEmailId"
                                            [formControl]="companyForm.controls['coEmailId']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="companyForm.controls['coEmailId'].hasError('required') && companyForm.controls['coEmailId'].touched">
                                            Company EmailId is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!companyForm.controls['coEmailId'].hasError('required') && !companyForm.controls['coEmailId'].valid && companyForm.controls['coEmailId'].touched">
                                            Please Enter valid Company EmailId.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile no -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobile Number" type="text"
                                            [(ngModdel)]="companyObj.coMobile"
                                            [formControl]="companyForm.controls['coMobile']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="companyForm.controls['coMobile'].hasError('required') && companyForm.controls['coMobile'].touched">
                                            Company Mobile Number is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!companyForm.controls['coMobile'].hasError('required') && !companyForm.controls['coMobile'].valid && companyForm.controls['coMobile'].touched">
                                            Please Enter valid Company Mobile Number.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- Landline no -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="LandLine Number" type="text"
                                            [(ngModdel)]="companyObj.coLandline"
                                            [formControl]="companyForm.controls['coLandline']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="companyForm.controls['coLandline'].hasError('required') && companyForm.controls['coLandline'].touched">
                                            Company Landline Number is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!companyForm.controls['coLandline'].hasError('required') && !companyForm.controls['coLandline'].valid && companyForm.controls['coLandline'].touched">
                                            Please Enter valid Company Landline Number.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- gstin no -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="GSTIN Number" type="text"
                                            [(ngModdel)]="companyObj.gstin"
                                            [formControl]="companyForm.controls['gstin']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="companyForm.controls['gstin'].hasError('required') && companyForm.controls['gstin'].touched">
                                            Company GSTIN Number is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!companyForm.controls['gstin'].hasError('required') && !companyForm.controls['gstin'].valid && companyForm.controls['gstin'].touched">
                                            Please Enter valid Company GSTIN Number.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- Social Meadia link -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="SocialMeadia Link" type="text"
                                            [(ngModdel)]="companyObj.socialLinks">
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- gstin no -->
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Status (Active/Inactive) : </label> 
                                    <input placeholder="SocialMeadia Link" type="checkbox"
                                        [(ngModdel)]="companyObj.status">
                                </div>
                            </div>
                            <!-- save button - [disabled]="!loginForm.valid" -->
                            <button mat-raised-button type="submit" class="btn btn-success pull-right"
                                (click)="onSubmit()">Save</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>